// Define Variables
$primary-color: #6366f1;
$secondary-color: #8b5cf6;
$accent-color: #ec4899;
$light-color: #f3f4f6;
$dark-color: #1f2937;
$success-color: #10b981;


// Container for the entire layout
.container {
  display: flex;
//   flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
//   padding: 2rem;
  background-color: $light-color;
  min-height: 100vh;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

// Form Styles
.formContainer {
  flex: 1;
  max-width: 500px;
  width: 100%;
  padding: 2rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.formTitle {
  text-align: center;
  color: $primary-color;
  margin-bottom: 1.5rem;
  font-weight: 900;
}

.formGroup {
  margin-bottom: 1.5rem;

  label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: $dark-color;
  }
}

.formControl {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #d1d5db;
  border-radius: 5px;
  font-size: 1rem;
  transition: border-color 0.3s ease;

  &:focus {
    outline: none;
    border-color: $primary-color;
    box-shadow: 0 0 0 3px rgba(99, 102, 241, 0.2);
  }
}

.buttonHead {
  display: inline-block;
  background-color: $primary-color;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;

  &:hover {
    background-color: $secondary-color;
  }
}

// Image Container Styles
.imageContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  @media (min-width: 768px) {
    max-width: 500px;
  }
}

.image {
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  width: 100%;
  height: auto;
}


